.top-header .row {
    align-items: center;
    padding: 10px; }
  
  .top-header {
    border-bottom: 1px dashed #c3c3c3; }
  
  .top_right {
    float: right;
    margin: 0;
    padding: 0; }
  
  .top_right li {
    float: left;
    list-style: none;
    margin-right: 5px; }
  
  .top_right li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #8d8d8d;
    transition: 0.3s; }
  
  .top_right li a:hover {
    color: #ef7147; }
  
  .top_left span a {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: #ef7147;
    text-decoration: none;
    line-height: 45px; }
  
  .rangcua {
    float: left;
    background-image: url("/img/rang-cua.png");
    background-repeat: repeat-x;
    height: 7px;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 3; }
  
  .header_search form input {
    padding: 0 35px 0 15px;
    background: #eeeeee;
    position: relative;
    box-shadow: none;
    height: 30px;
    width: 100%;
    float: left;
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc; }
  
  .fa-search::before {
    content: "\f002";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  .btn_search {
    position: absolute;
    color: #ef7147;
    background: #eeeeee;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 37px;
    height: 30px;
    right: 15px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-left: none; }
  
  .fa-home::before {
    content: "\f015"; }
  
  .fa-birthday-cake::before {
    content: "\f1fd"; }
  
  .fa-info-circle::before {
    content: "\f05a"; }
  
  .fa-pencil-square-o {
    content: "\f044"; }
  
  .fa-phone {
    content: "\f095"; }
  
  .navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
    font-family: "UTMBryantLGBold", sans-serif;
    font-size: 18px;
    color: #333 !important;
    line-height: 1.222;
    padding: 0px 10px 0px;
    transition: 0.3s; }
  
  .navbar-dark .navbar-nav .nav-item:hover .nav-link {
    color: #ef7147 !important; }
  
  .navbar-toggler-icon {
    background: #ef7147;
    border: none; }
  
  .navbar-toggler {
    padding: 0; }
  
  .navbar-toggler:focus {
    outline: 4px auto #ef7147; }
  
  /*--------------------------------------- Footer */
  .top-header .row {
    align-items: center;
    padding: 10px; }
  
  .top-header {
    border-bottom: 1px dashed #c3c3c3; }
  
  .top_right {
    float: right;
    margin: 0;
    padding: 0; }
  
  .top_right li {
    float: left;
    list-style: none;
    margin-right: 5px; }
  
  .top_right li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #8d8d8d;
    transition: 0.3s; }
  
  .top_right li a:hover {
    color: #ef7147; }
  
  .top_left span a {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: #ef7147;
    text-decoration: none;
    line-height: 45px; }
  
  .header_search form input {
    padding: 0 35px 0 15px;
    background: #eeeeee;
    position: relative;
    box-shadow: none;
    height: 30px;
    width: 100%;
    float: left;
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc; }
  
  .fa-search::before {
    content: "\f002";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  ._btn {
    position: absolute;
    color: #ef7147;
    background: #eeeeee;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 37px;
    height: 30px;
    top: 0px;
    right: 15px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-left: none; }
  

  .navbar-dark .navbar-nav .nav-item {
    padding: 10px 16px;
    border-radius: 10px; }
  
  .navbar-dark .navbar-nav .nav-item:hover {
    background: #dff9fb;
    cursor: pointer; }
  
  .navbar-dark .navbar-nav .nav-item:hover .nav-link {
    color: #ef7147; }
  
  .navbar-toggler-icon {
    background: #ef7147;
    border: none; }
  
  .navbar-toggler {
    padding: 0; }
  
  .navbar-toggler:focus {
    outline: 4px auto #ef7147; }
  
  .background_footer {
    background-image: url("http://localhost/DoAnWeb2/mvc/public/img_doan/footer_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; }
  
  .footerr span {
    color: #aaaaa9;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 5px; }
  
  .menu_footer ul {
    padding: 0; }
  
  .menu_footer ul li {
    padding: 8px 0px 8px 0px;
    list-style: none; }
  
  .menu_footer ul li a {
    color: #aaaaa9;
    text-decoration: none;
    transition: 0.3s; }
  
  .menu_footer ul li a:hover {
    color: #ef7147; }
  
  .facebook {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative; }
  
  .fa-facebook {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  .facebook:hover {
    background: #ef7147 !important; }
  
  .facebook:hover .fa-facebook {
    color: #fff !important; }
  
  .instagram {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative; }
  
  .fa-instagram {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  .instagram:hover {
    background: #ef7147 !important; }
  
  .instagram:hover .fa-instagram {
    color: #fff !important; }
  
  .footer-input {
    border-radius: 4px;
    height: 34px;
    width: 100%;
    border: none;
    background-color: #fff;
    margin-bottom: 8px;
    padding-left: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    outline: none; }
  
  .footer-button {
    width: 100px;
    height: 34px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    background: #ef7147;
    border: 1px solid #ef7147;
    transition: 0.3s; }
  
  .footer-button:hover {
    background: #fff;
    color: #ef7147; 
    border: 1px solid #ef7147;}
  
  @media only screen and (max-width: 1200px) {
    .navbar-dark .navbar-nav .nav-item {
      padding: 10px 10px; }
    .navbar-dark .navbar-nav .nav-link {
      font-size: 14px; } }
  
  @media only screen and (max-width: 500px) {
    .logo img {
      width: 150px; } }
  
  @media only screen and (max-width: 320px) {
    .logo img {
      width: 122px; } }
  
  @media only screen and (max-width: 991px) {
    .navbar-dark .navbar-nav {
      padding-top: 10px; }
    .navbar-dark .navbar-nav .nav-item {
      padding-top: 5px;
      padding-left: 0 !important; }
    .navbar-dark .navbar-nav .nav-link {
      font-size: 18px; }
    .cart {
      margin-right: 5px; } }
  
  .background-footer {
    float: left;
    background-image: url(/img/footer_background.jpg);
    background-repeat: repeat;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 3; }
  
  .active {
    display: block; }
  