<div id="content-wrapper" class="d-flex flex-column mt-3">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">User table</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add item
                </button>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Function</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each user}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.level}}</td>
                                    <td>Hello</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="modal-form" action="/adminuser/create" method="POST">
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" id="exampleInputPassword"
                                placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" id="exampleInputPassword"
                                placeholder="Password">
                        </div>
                        <select name="role" multiple class="form-control" id="exampleFormControlSelect2">
                            <option Selected>User</option>
                            <option>Admin</option>
                        </select>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Ngô Tấn An - UIT</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="js/admin/user.js"></script>