<div class="footer p-4 background-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pt-2">
                <div class="ml-2">
                    <h4 style="color: #fff">Liên hệ</h4>
                </div>
                <div class="p-2">
                    <i class="fa fa-map-marker" style="color: #ef7147"></i>
                    <span style="color: #aaaaa9">Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.Hồ Chí Minh</span><br>
                </div>
                <div class="p-2">
                    <i class="fa fa-phone" style="color: #ef7147"></i>
                    <span style="color: #aaaaa9">0123 456 789</span><br>
                </div>
                <div class="p-2">
                    <i class="fa fa-envelope" style="color: #ef7147"></i>
                    <span style="color: #aaaaa9">nhom6_uit2018@gmail.com</span><br>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pl-3 pt-2">
                <div>
                    <h4 class="text-white">Menu</h4>
                </div>
                <div class="menu_footer">
                    <ul class="">
                        <li>
                            <a href="#">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-2">
                <h4 class="text-white">SOCIAL MEDIA</h4>
                <div class="icon d-flex">
                    <div class="facebook mr-2">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"
                                style="color: #fff; transition: 0.3s;"></i></a>
                    </div>
                    <div class="instagram">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"
                                style="color: #fff; transition: 0.3s;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-2">
                <h4 class="text-white">ĐĂNG KÍ NHẬN TIN</h4>
                <form action="">
                    <div class="pt-2">
                        <input type="text" placeholder="Email"><br>
                    </div>
                    <div class="pt-2">
                        <input type="button" value="Đăng kí">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>