<div class="container mt-5" style="margin-bottom: 119px;">
    <div class="text-center">
        <h2>Kết quả tìm kiếm</h2>
    </div>
    <div class="row search-result mt-5">
        {{!-- <div class="no-result mb-5 mt-4" style="width: 100%; display: block">
            <h3 class="">Không có kết quả nào</h3>

        </div> --}}
        <div class="owl_item col-lg-4 col-md-4 col-6">
            {{#each product}}
            <div class="item_product_main">
                <div class="items">
                    <div class="image">
                        <a href="">
                            <img src="img/{{this.image}}" alt="" width="100%" height="250px">
                        </a>
                    </div>
                    <div class="infor mt-3" style="width: 100%">
                        <h3 class="title">
                            <span>
                                {{this.name}}
                            </span>
                        </h3>
                        <div class="box_price d-flex">
                            <div>
                                <span class="special_price">
                                    <span id="" class="prices"
                                        style="color:#ef7147;font-size: 20px;">{{this.price}}</span>
                                </span>
                            </div>

                            <div class="text-right w-100">
                                <a class="addtocart" href="">
                                    <button id="btn-same" type="submit" class="">
                                        Thêm vào giỏ
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>