<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/trangchu.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <title>Delicious</title>
</head>

<body>

    {{> header}}

    {{{body}}}
    {{!-- {{!< LAYOUT}} --}} {{> footer}}

</body>

</html>
<!-- jQuery library -->
<script src="/jquery/jquery-3.6.0.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
{{!-- Home script --}}
<script src="swiper/swiper-bundle.js"></script>
<script src="swiper/swiper-bundle.min.js"></script>
<script src="swiper/swiper_init.js"></script>
<script src="js/page/home.js"></script>
{{!-- --}}